@import "tailwindcss";

@theme {
    --color-wordle-gray: var(--wordle-gray);
    --color-wordle-yellow: var(--wordle-yellow);
    --color-wordle-green: var(--wordle-green);
}

:root {
    --wordle-gray: #787c7e;
    --wordle-yellow: #c9b458;
    --wordle-green: #6aaa64;
}
